.container-s-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 30px;

    &__icon {
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; 
    }
}