.container-header {
    height: 55px;
    background-color: var(--poke-color-primary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        color: #ffffff;
        font-weight: bold;
        font-size: 18px;
        padding-left: 10px;

        @media (min-width: 330px) {
            font-size: 20px;
            padding-left: 20px;
        }
    }

    &__img {
        height: 40px;
        padding-right:7px;

        @media (min-width: 330px) {
            padding-right: 12px; 
        }
    }
}