<div class="container-btns">
  <button
    class="container-home__btn"
    mat-raised-button
    color="primary"
    (click)="openModalAddOrUpdate()"
  >
    Agregar
  </button>
</div>
<br />
<app-s-table
  [dataHeaders]="dataHeaders"
  [dataBody]="dataBody.content"
  [dataActions]="dataActions"
  [isLoading]="isLoading"
  [dataContentAll]="dataBody.totalElements"
  [numberPage]="numberPage"
  (changePage)="handlerChangePage($event)"
  (changeAction)="handlerChangeAction($event)"
></app-s-table>

 